<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>

    <body>
        <h3>Contact us at:</h3>
        <p>
        <i class="bi bi-telephone"></i><span>Phone: (+36 1) 123 4567</span>
        </p>
        <p>
        <i class="bi bi-envelope"></i><span>E-mail: dealership@bestcars.com</span>
        </p>
        <p>
        <i class="bi bi-house"></i><span>Address: 1055 Budapest, Kossuth Lajos tér 1-3, Hungary</span>
        </p>
    </body>
</html>